<h1>ユーザー情報編集</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email_address, "メールアドレス" %>
    <%= f.email_field :email_address %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "更新" %>
<% end %>

<%= link_to "マイページへ戻る", user_path(@user) %>
