<h1><%= @post.title %></h1>

<% if @post.image.attached? %>
  <%= image_tag @post.image, width: 400 %>
<% end %>

<p>施設名：<%= @post.facility_name %></p>
<p>住所：<%= @post.address %></p>
<p>種別：<%= @post.play_style_i18n %></p>
<p>スコア：<%= @post.score %></p>
<p>感想：<%= @post.body %></p>

<% if Current.session&.user == @post.user %>
  <%= link_to "編集", edit_post_path(@post) %>

  <%= link_to "削除", post_path(@post),
      data: {
        turbo_method: :delete,
        turbo_confirm: "本当に削除しますか？"
      } %>
<% end %>

<%= link_to "投稿一覧へ戻る", posts_path %>
